#dev
.python-version

# venv
venv/

# env
.env

# logs
logs/

# cursor
.cursor

# deep_next
deepnext.md

# pycache
__pycache__
*.pyc
cache/*
cache_index.json

# analytics
analytics_data
analytics_data/*
user_profiles
user_profiles/*
game_collections/*
game_collections